*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* Navbar */
.container{
  margin-left: 150px;
  margin-right: 150px;
}

header{
  background-color: #FFF8F3;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.btn{
  border: none;
  background-color: #fd6e0a;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn-2{
  border: 1px solid #fd6e0a;
  background-color: #FFF8F3;
  color: #fd6e0a;
  padding: 14px 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.nav_logo{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.logo{
  color: #fd6e0a;
}


nav > ul{
  display: flex;
  align-items: center;
}

nav li{
  list-style: none;
  margin-left: 50px;
}

li a{
  text-decoration: none;
  color: #474747;
  font-weight: 500;
}

li a:hover{
  color: #fd6e0a;
}

.ico{
  font-size: 20px;
  margin-right: 3px;
}

.banner{
  background-color: #FFF8F3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gritting, .name, p{
  margin-bottom: 10px;
}

.banner .pic{
  width: 500px;
}

.home_info{
  width: 500px;
}