*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* Navbar */
.container{
  margin-left: 150px;
  margin-right: 150px;
}

header{
  background-color: #FFF8F3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 730px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.btn{
  border: none;
  background-color: #fd6e0a;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn-2{
  border: 1px solid #fd6e0a;
  background-color: #FFF8F3;
  color: #fd6e0a;
  padding: 14px 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.nav_logo{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.logo{
  color: #fd6e0a;
}


nav > ul{
  display: flex;
  align-items: center;
}

nav li{
  list-style: none;
  margin-left: 50px;
}

li a{
  text-decoration: none;
  color: #474747;
  font-weight: 500;
}

li a:hover{
  color: #fd6e0a;
}

.ico{
  font-size: 20px;
  margin-right: 3px;
}

.banner{
  /* background-color: #FFF8F3; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gritting, .name, p{
  margin-bottom: 10px;
}

.banner .pic{
  width: 500px;
}

.home_info{
  width: 500px;
}

.gritting{
  font-size: 25px;
  font-weight: 600;
}

.name{
  font-size: 50px;
}

.ab{
  color: #757575;
}


/* ABOUT */
.about{
  margin-top: 100px;
  margin-bottom: 100px;
}


.sec_title{
  color: #181818;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.ab_me{
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
}



.abouts{
  background-color: #FFF8F3;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 240px;
  border-radius: 10px;
}

.con{
  margin-right: 50px;
}

.co{
  font-weight: 700;
}

.co_title{
  color: #757575;
}

.all_con{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}


/* What I do */

.wh_me2{
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.skill{
  margin-bottom: 100px;
}

.skils{
  display: flex;
  justify-content: center;
}


.skil{
  width: 200px;
  background-color: #ffffff;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 80px 0 rgba(159, 159, 159, 0.19);
  margin-left: 60px;
  margin-top: 30px;
}

.skil:hover{
  background-color: #fbfafa;
  box-shadow: 0 10px 80px 0 #FFF8F3;
  transition: 0.3s;
}

.one{
  margin: 30px 0 0 0;
}

.skil_img{
  margin-bottom: 20px;
  border-radius: 5px;
}


.skil_title{
  margin-bottom: 20px;
}

.skill_p{
  line-height: 25px;
}

/* A summary of My Resume */
.education{
  width: 500px;
}

.year{
  font-size: 17px;
  color: #757575;
}

.edu_exp{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.ti_my{
  font-size: 25px;
  color: #474747;
  margin-bottom: 20px;
}

.sub_tit{
  color: #474747;
  margin-bottom: 2px;
  font-size: 18px;
}

.edu_p{
  font-size: 15px;
  color: #757575;
  line-height: 25px;
}

.line{
  width: 500px;
  height: 1px;
  background-color: #D1D1D1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ali{
  align-items: center;
  text-align: center;
  margin-top: 50px;
}


/* Footer */
.bg{
  background-color: #FFF8F3;
  margin-top: 50px;
}

.connect{
  width: 550px;
}

.message{
  width: 550px;
}

.sec_title2{
  color: #181818;
  font-size: 25px;
  font-weight: 800;
}

.cont{
  justify-content: space-between;
  display: flex;
  padding: 100px 0;
}


.social a{
  text-decoration: none;
  color: #fd6e0a;
  font-size: 18px;
  margin-right: 20px;
}

input[type=text],input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: none;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text],input[type=email]{
  height: 55px;
}


.form, .con_p, .social{
  margin-top: 20px;
}